[Variable]
GameServer_Address 	=61.135.133.120
GameServer_Port 	=1231
GameServer_ConnectDirect=0

User_NAME		=
User_GENDER		=
User_GUID		=

#-------------------------------
#5~150
#-------------------------------
System_MaxFPS_Front	=144
System_MaxFPS_Back	=144

#-------------------------------
# Direct3D or OpenGL
#-------------------------------
Gfx_API			=Direct3D		

#-------------------------------
# Camera
#-------------------------------
Camera_MinDistance	=6.0
Camera_MaxDistance	=60
Camera_Pitch		=55
Camera_FOV			=50

#-------------------------------
# Backsound Volume
#-------------------------------
DisableAllSound	=0
EnableBGSound	=1
Enable3DSound	=1
EnableSKSound	=1
EnableUISound	=1
VOLUME_BG			=0.500000
VOLUME_3D			=0.500000
VOLUME_SK			=0.500000
VOLUME_UI			=0.500000

#-------------------------------
# Debug Option
#-------------------------------
EnableLuaCrash =1

#-------------------------------
# View Setup
#-------------------------------
View_Gamma						=2
View_Fanhunjiao					=4
View_GroundHighLight			=0
View_ModlePolygon 				=1
View_TextureQuality				=1
View_ObjectMove					=2
View_Floodlight 				=1
View_Aplomb 					=1
View_WaterMove					=1
View_EffectQuality				=1
View_HumanLightmap				=2
View_HumanHighLight				=1
View_FullScreenLight			=0
View_Resoution 					=800,600
View_LightmapQuality			=2
View_ColorQuality				=2
View_TextureFiltering			=2
View_FullScreen					=0
View_PolygonQuantity			=0
View_WalkEffect					=1
View_Weather					=1
View_EnableFog = 1

;排行榜链接地址 
PaiHangBang_LinkURL=https://tlhj.changyou.com/m/events/paihang/inner2/xiuyi.shtml
;更新公告链接地址  http://tl.sohu.com/events
RecentlyUpdate_LinkURL=https://waylee.net/tlbb/Temp_Release_v0-85-9602/
